[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = ">=3.7"
flake8-bugbear = ">=20.1"
flake8-builtins = ">=1.5"
flake8-comprehensions = ">=3.2"
flake8-docstrings = ">=1.5"
flake8-eradicate = "==0.3.0"
flake8-mutable = ">=1.2"
flake8-polyfill = ">=1.0"
flake8-quotes = ">=3.0"
pep8-naming = "==0.10.0"
framework = {editable = true,path = "."}

[packages]
requests = ">=2.23"
torch = ">=1.4"
torchvision = "==0.6.0"
pandas = ">=1.0"
ubelt = "==0.9.1"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
lint = "flake8"
format = "black ."
