[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = ">=3.7"
flake8-black = "==0.2.0"
flake8-bugbear = ">=20.1"
flake8-builtins = ">=1.5"
flake8-comprehensions = ">=3.2"
flake8-docstrings = ">=1.5"
flake8-eradicate = "==0.3.0"
flake8-mutable = ">=1.2"
flake8-polyfill = ">=1.0"
flake8-quotes = ">=3.0"
pep8-naming = "==0.10.0"
mypy = "==0.770"
tinker-engine = {editable = true,path = "."}
black = "==19.10b"
sphinx-rtd-theme = "==0.5.0"
m2r = "==0.2.1"
mistune = "==0.8.4"
sphinx = "==2.4.4"
sphinx-autobuild = "==0.7.1"

[packages]
click = ">=7.1"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
lint = "flake8"
format = "black ."
typecheck = "mypy -p tinker --disallow-untyped-defs"
docs = "sphinx-build docs/source docs/build/html"
docs-auto = "sphinx-autobuild docs/source docs/build/html"
docs-serve = "python -m http.server 3001 --bind 127.0.0.1 -d docs/build/html"
